.text-display-lg {
  font: var(--text-display-lg);
  letter-spacing: var(--letter-spacing-display-lg);
}

.text-headline-lg {
  font: var(--text-headline-lg);
  letter-spacing: var(--letter-spacing-headline-lg);
}

.text-headline-md {
  font: var(--text-headline-md);
  letter-spacing: var(--letter-spacing-headline-md);
}

.text-headline-sm {
  font: var(--text-headline-sm);
}

.text-title-md {
  font: var(--text-title-md);
}

.text-body-lg {
  font: var(--text-body-lg);
}

.text-body-md {
  font: var(--text-body-md);
}

.text-body-sm {
  font: var(--text-body-sm);
}

.text-label-lg {
  font: var(--text-label-lg);
}

.text-label-md {
  font: var(--text-label-md);
  letter-spacing: var(--letter-spacing-label-md);
}

.text-label-sm {
  font: var(--text-label-sm);
  letter-spacing: var(--letter-spacing-label-sm);
}

.text-code-sm {
  font: var(--text-code-sm);
}
