<section class="movies" aria-labelledby="movies-title">
  <msh-page-header title="Movies" headingId="movies-title" [itemCount]="media().length">
    <button class="movies__add-button" type="button" disabled><span aria-hidden="true">+</span> Add movie</button>
  </msh-page-header>

  @if (isLoading()) {
    <msh-page-status message="Loading movies…" />
  } @else if (error()) {
    <msh-page-status kind="error" message="Movies could not be loaded." />
  } @else {
    <p class="movies__summary">Showing {{ visibleMedia().length }} of {{ media().length }} titles</p>
    <div class="movies__grid">
      @for (item of visibleMedia(); track item.id) {
        <msh-media-card [media]="item" />
      }
    </div>
    <msh-pagination [page]="page()" [pageSize]="pageSize" [totalItems]="media().length" (pageChange)="changePage($event)" />
  }
</section>
